--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: question_category_enum; Type: TYPE; Schema: public; Owner: eduvial_user
--

CREATE TYPE public.question_category_enum AS ENUM (
    'Simulaciones',
    'Se├▒ales',
    'Escenarios'
);


ALTER TYPE public.question_category_enum OWNER TO eduvial_user;

--
-- Name: question_type_enum; Type: TYPE; Schema: public; Owner: eduvial_user
--

CREATE TYPE public.question_type_enum AS ENUM (
    'multiple_choice',
    'true_false',
    'short_answer'
);


ALTER TYPE public.question_type_enum OWNER TO eduvial_user;

--
-- Name: user_role_enum; Type: TYPE; Schema: public; Owner: eduvial_user
--

CREATE TYPE public.user_role_enum AS ENUM (
    'admin',
    'principiante',
    'avanzado'
);


ALTER TYPE public.user_role_enum OWNER TO eduvial_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: USER; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public."USER" (
    user_id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character(60) NOT NULL,
    role public.user_role_enum NOT NULL
);


ALTER TABLE public."USER" OWNER TO eduvial_user;

--
-- Name: USER_user_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public."USER_user_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."USER_user_id_seq" OWNER TO eduvial_user;

--
-- Name: USER_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public."USER_user_id_seq" OWNED BY public."USER".user_id;


--
-- Name: answer_option; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.answer_option (
    option_id integer NOT NULL,
    question_id integer NOT NULL,
    option_text text,
    is_correct boolean
);


ALTER TABLE public.answer_option OWNER TO eduvial_user;

--
-- Name: answer_option_option_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.answer_option_option_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.answer_option_option_id_seq OWNER TO eduvial_user;

--
-- Name: answer_option_option_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.answer_option_option_id_seq OWNED BY public.answer_option.option_id;


--
-- Name: exam; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.exam (
    exam_id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    difficulty_level character varying(50) NOT NULL,
    points_awarded integer DEFAULT 0 NOT NULL,
    CONSTRAINT exam_difficulty_level_check CHECK (((difficulty_level)::text = ANY ((ARRAY['simple'::character varying, 'advanced'::character varying])::text[])))
);


ALTER TABLE public.exam OWNER TO eduvial_user;

--
-- Name: exam_attempt; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.exam_attempt (
    attempt_id integer NOT NULL,
    user_id integer NOT NULL,
    exam_id integer NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    score integer DEFAULT 0,
    status character varying(50) NOT NULL,
    CONSTRAINT exam_attempt_status_check CHECK (((status)::text = ANY ((ARRAY['in_progress'::character varying, 'completed'::character varying, 'abandoned'::character varying])::text[])))
);


ALTER TABLE public.exam_attempt OWNER TO eduvial_user;

--
-- Name: exam_attempt_attempt_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.exam_attempt_attempt_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exam_attempt_attempt_id_seq OWNER TO eduvial_user;

--
-- Name: exam_attempt_attempt_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.exam_attempt_attempt_id_seq OWNED BY public.exam_attempt.attempt_id;


--
-- Name: exam_exam_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.exam_exam_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exam_exam_id_seq OWNER TO eduvial_user;

--
-- Name: exam_exam_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.exam_exam_id_seq OWNED BY public.exam.exam_id;


--
-- Name: exam_question; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.exam_question (
    exam_id integer NOT NULL,
    question_id integer NOT NULL
);


ALTER TABLE public.exam_question OWNER TO eduvial_user;

--
-- Name: lawartcat; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.lawartcat (
    id integer NOT NULL,
    artid integer,
    catid integer
);


ALTER TABLE public.lawartcat OWNER TO eduvial_user;

--
-- Name: lawartcat_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.lawartcat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lawartcat_id_seq OWNER TO eduvial_user;

--
-- Name: lawartcat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.lawartcat_id_seq OWNED BY public.lawartcat.id;


--
-- Name: lawarticle; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.lawarticle (
    id integer NOT NULL,
    artnum character varying(10) NOT NULL,
    title character varying(255) NOT NULL,
    descr text NOT NULL,
    sanc text
);


ALTER TABLE public.lawarticle OWNER TO eduvial_user;

--
-- Name: lawarticle_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.lawarticle_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lawarticle_id_seq OWNER TO eduvial_user;

--
-- Name: lawarticle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.lawarticle_id_seq OWNED BY public.lawarticle.id;


--
-- Name: lawcat; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.lawcat (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.lawcat OWNER TO eduvial_user;

--
-- Name: lawcat_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.lawcat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lawcat_id_seq OWNER TO eduvial_user;

--
-- Name: lawcat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.lawcat_id_seq OWNED BY public.lawcat.id;


--
-- Name: leaderboard; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.leaderboard (
    leaderboard_id integer NOT NULL,
    user_id integer NOT NULL,
    "position" integer NOT NULL,
    total_points integer NOT NULL
);


ALTER TABLE public.leaderboard OWNER TO eduvial_user;

--
-- Name: leaderboard_leaderboard_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.leaderboard_leaderboard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.leaderboard_leaderboard_id_seq OWNER TO eduvial_user;

--
-- Name: leaderboard_leaderboard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.leaderboard_leaderboard_id_seq OWNED BY public.leaderboard.leaderboard_id;


--
-- Name: lesson; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.lesson (
    lesson_id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    difficulty_level character varying(50) NOT NULL,
    points_awarded integer DEFAULT 0 NOT NULL,
    CONSTRAINT lesson_difficulty_level_check CHECK (((difficulty_level)::text = ANY ((ARRAY['simple'::character varying, 'advanced'::character varying])::text[])))
);


ALTER TABLE public.lesson OWNER TO eduvial_user;

--
-- Name: lesson_category; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.lesson_category (
    category_id integer NOT NULL,
    category_name character varying(100) NOT NULL
);


ALTER TABLE public.lesson_category OWNER TO eduvial_user;

--
-- Name: lesson_category_category_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.lesson_category_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_category_category_id_seq OWNER TO eduvial_user;

--
-- Name: lesson_category_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.lesson_category_category_id_seq OWNED BY public.lesson_category.category_id;


--
-- Name: lesson_category_rel; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.lesson_category_rel (
    lesson_id integer NOT NULL,
    category_id integer NOT NULL
);


ALTER TABLE public.lesson_category_rel OWNER TO eduvial_user;

--
-- Name: lesson_lesson_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.lesson_lesson_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_lesson_id_seq OWNER TO eduvial_user;

--
-- Name: lesson_lesson_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.lesson_lesson_id_seq OWNED BY public.lesson.lesson_id;


--
-- Name: lesson_result; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.lesson_result (
    lesson_result_id integer NOT NULL,
    user_id integer NOT NULL,
    lesson_id integer NOT NULL,
    score integer NOT NULL,
    date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lesson_result OWNER TO eduvial_user;

--
-- Name: lesson_result_lesson_result_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.lesson_result_lesson_result_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_result_lesson_result_id_seq OWNER TO eduvial_user;

--
-- Name: lesson_result_lesson_result_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.lesson_result_lesson_result_id_seq OWNED BY public.lesson_result.lesson_result_id;


--
-- Name: progress; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.progress (
    progress_id integer NOT NULL,
    user_id integer NOT NULL,
    lesson_id integer NOT NULL,
    status character varying(50) NOT NULL,
    completion_date timestamp without time zone
);


ALTER TABLE public.progress OWNER TO eduvial_user;

--
-- Name: progress_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.progress_progress_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.progress_progress_id_seq OWNER TO eduvial_user;

--
-- Name: progress_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.progress_progress_id_seq OWNED BY public.progress.progress_id;


--
-- Name: question; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.question (
    question_id integer NOT NULL,
    question_text text,
    question_type public.question_type_enum,
    category public.question_category_enum
);


ALTER TABLE public.question OWNER TO eduvial_user;

--
-- Name: question_question_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.question_question_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.question_question_id_seq OWNER TO eduvial_user;

--
-- Name: question_question_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.question_question_id_seq OWNED BY public.question.question_id;


--
-- Name: reward; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.reward (
    reward_id integer NOT NULL,
    name character varying(100),
    description text,
    cost_points integer NOT NULL
);


ALTER TABLE public.reward OWNER TO eduvial_user;

--
-- Name: reward_redemption; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.reward_redemption (
    redemption_id integer NOT NULL,
    user_id integer NOT NULL,
    reward_id integer NOT NULL,
    date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.reward_redemption OWNER TO eduvial_user;

--
-- Name: reward_redemption_redemption_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.reward_redemption_redemption_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reward_redemption_redemption_id_seq OWNER TO eduvial_user;

--
-- Name: reward_redemption_redemption_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.reward_redemption_redemption_id_seq OWNED BY public.reward_redemption.redemption_id;


--
-- Name: reward_reward_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.reward_reward_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reward_reward_id_seq OWNER TO eduvial_user;

--
-- Name: reward_reward_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.reward_reward_id_seq OWNED BY public.reward.reward_id;


--
-- Name: user_answer; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.user_answer (
    user_answer_id integer NOT NULL,
    attempt_id integer NOT NULL,
    question_id integer NOT NULL,
    option_id integer,
    answered_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_answer OWNER TO eduvial_user;

--
-- Name: user_answer_user_answer_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.user_answer_user_answer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_answer_user_answer_id_seq OWNER TO eduvial_user;

--
-- Name: user_answer_user_answer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.user_answer_user_answer_id_seq OWNED BY public.user_answer.user_answer_id;


--
-- Name: USER user_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public."USER" ALTER COLUMN user_id SET DEFAULT nextval('public."USER_user_id_seq"'::regclass);


--
-- Name: answer_option option_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.answer_option ALTER COLUMN option_id SET DEFAULT nextval('public.answer_option_option_id_seq'::regclass);


--
-- Name: exam exam_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam ALTER COLUMN exam_id SET DEFAULT nextval('public.exam_exam_id_seq'::regclass);


--
-- Name: exam_attempt attempt_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_attempt ALTER COLUMN attempt_id SET DEFAULT nextval('public.exam_attempt_attempt_id_seq'::regclass);


--
-- Name: lawartcat id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lawartcat ALTER COLUMN id SET DEFAULT nextval('public.lawartcat_id_seq'::regclass);


--
-- Name: lawarticle id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lawarticle ALTER COLUMN id SET DEFAULT nextval('public.lawarticle_id_seq'::regclass);


--
-- Name: lawcat id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lawcat ALTER COLUMN id SET DEFAULT nextval('public.lawcat_id_seq'::regclass);


--
-- Name: leaderboard leaderboard_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.leaderboard ALTER COLUMN leaderboard_id SET DEFAULT nextval('public.leaderboard_leaderboard_id_seq'::regclass);


--
-- Name: lesson lesson_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson ALTER COLUMN lesson_id SET DEFAULT nextval('public.lesson_lesson_id_seq'::regclass);


--
-- Name: lesson_category category_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_category ALTER COLUMN category_id SET DEFAULT nextval('public.lesson_category_category_id_seq'::regclass);


--
-- Name: lesson_result lesson_result_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_result ALTER COLUMN lesson_result_id SET DEFAULT nextval('public.lesson_result_lesson_result_id_seq'::regclass);


--
-- Name: progress progress_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.progress ALTER COLUMN progress_id SET DEFAULT nextval('public.progress_progress_id_seq'::regclass);


--
-- Name: question question_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.question ALTER COLUMN question_id SET DEFAULT nextval('public.question_question_id_seq'::regclass);


--
-- Name: reward reward_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.reward ALTER COLUMN reward_id SET DEFAULT nextval('public.reward_reward_id_seq'::regclass);


--
-- Name: reward_redemption redemption_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.reward_redemption ALTER COLUMN redemption_id SET DEFAULT nextval('public.reward_redemption_redemption_id_seq'::regclass);


--
-- Name: user_answer user_answer_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.user_answer ALTER COLUMN user_answer_id SET DEFAULT nextval('public.user_answer_user_answer_id_seq'::regclass);


--
-- Data for Name: USER; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public."USER" (user_id, name, email, password, role) FROM stdin;
1	Juan P├⌐rez	juan@example.com	hashed_password1                                            	principiante
2	Mar├¡a G├│mez	maria@example.com	hashed_password2                                            	principiante
3	Carlos L├│pez	carlos@example.com	hashed_password3                                            	avanzado
4	Admin User	admin@example.com	hashed_password4                                            	admin
\.


--
-- Data for Name: answer_option; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.answer_option (option_id, question_id, option_text, is_correct) FROM stdin;
\.


--
-- Data for Name: exam; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.exam (exam_id, title, description, difficulty_level, points_awarded) FROM stdin;
1	Examen B├ísico de Seguridad Vial	Eval├║a conocimientos b├ísicos de tr├ínsito	simple	20
2	Examen Avanzado de Normas	Examen sobre normativas avanzadas de conducci├│n	advanced	30
\.


--
-- Data for Name: exam_attempt; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.exam_attempt (attempt_id, user_id, exam_id, started_at, completed_at, score, status) FROM stdin;
1	1	1	2025-03-15 14:00:00	2025-03-15 14:10:00	90	completed
2	2	1	2025-08-05 18:58:02.730974	\N	0	in_progress
3	3	2	2025-03-16 16:00:00	2025-03-16 16:10:00	85	completed
\.


--
-- Data for Name: exam_question; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.exam_question (exam_id, question_id) FROM stdin;
\.


--
-- Data for Name: lawartcat; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--



--
-- Data for Name: lawarticle; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--



--
-- Data for Name: lawcat; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.lawcat (id, name) FROM stdin;
1	Normas generales
2	Licencias de conducir
3	Se├▒alizaci├│n vial
4	Veh├¡culos especiales
5	Sanciones administrativas
\.


--
-- Data for Name: leaderboard; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.leaderboard (leaderboard_id, user_id, "position", total_points) FROM stdin;
\.


--
-- Data for Name: lesson; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.lesson (lesson_id, title, description, difficulty_level, points_awarded) FROM stdin;
1	Se├▒ales de Tr├ínsito	Aprender las se├▒ales de tr├ínsito esenciales	simple	10
2	Normas de Conducci├│n	Reglas b├ísicas de manejo en la v├¡a p├║blica	advanced	15
\.


--
-- Data for Name: lesson_category; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.lesson_category (category_id, category_name) FROM stdin;
1	Seguridad Vial
2	Normas de Conducci├│n
\.


--
-- Data for Name: lesson_category_rel; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.lesson_category_rel (lesson_id, category_id) FROM stdin;
1	1
2	2
\.


--
-- Data for Name: lesson_result; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.lesson_result (lesson_result_id, user_id, lesson_id, score, date) FROM stdin;
\.


--
-- Data for Name: progress; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.progress (progress_id, user_id, lesson_id, status, completion_date) FROM stdin;
1	1	1	COMPLETADO	2025-03-15 10:30:00
2	2	1	EN PROGRESO	\N
3	3	2	COMPLETADO	2025-03-16 12:00:00
\.


--
-- Data for Name: question; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--



--
-- Data for Name: reward; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.reward (reward_id, name, description, cost_points) FROM stdin;
\.


--
-- Data for Name: reward_redemption; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.reward_redemption (redemption_id, user_id, reward_id, date) FROM stdin;
\.


--
-- Data for Name: user_answer; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.user_answer (user_answer_id, attempt_id, question_id, option_id, answered_at) FROM stdin;
\.


--
-- Name: USER_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public."USER_user_id_seq"', 4, true);


--
-- Name: answer_option_option_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.answer_option_option_id_seq', 1, false);


--
-- Name: exam_attempt_attempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.exam_attempt_attempt_id_seq', 3, true);


--
-- Name: exam_exam_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.exam_exam_id_seq', 1, false);


--
-- Name: lawartcat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.lawartcat_id_seq', 230, true);


--
-- Name: lawarticle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.lawarticle_id_seq', 230, true);


--
-- Name: lawcat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.lawcat_id_seq', 5, true);


--
-- Name: leaderboard_leaderboard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.leaderboard_leaderboard_id_seq', 1, false);


--
-- Name: lesson_category_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.lesson_category_category_id_seq', 1, false);


--
-- Name: lesson_lesson_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.lesson_lesson_id_seq', 1, false);


--
-- Name: lesson_result_lesson_result_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.lesson_result_lesson_result_id_seq', 1, false);


--
-- Name: progress_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.progress_progress_id_seq', 1, false);


--
-- Name: question_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.question_question_id_seq', 1, false);


--
-- Name: reward_redemption_redemption_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.reward_redemption_redemption_id_seq', 1, false);


--
-- Name: reward_reward_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.reward_reward_id_seq', 1, false);


--
-- Name: user_answer_user_answer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.user_answer_user_answer_id_seq', 1, false);


--
-- Name: USER USER_email_key; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public."USER"
    ADD CONSTRAINT "USER_email_key" UNIQUE (email);


--
-- Name: USER USER_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public."USER"
    ADD CONSTRAINT "USER_pkey" PRIMARY KEY (user_id);


--
-- Name: answer_option answer_option_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.answer_option
    ADD CONSTRAINT answer_option_pkey PRIMARY KEY (option_id);


--
-- Name: exam_attempt exam_attempt_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_attempt
    ADD CONSTRAINT exam_attempt_pkey PRIMARY KEY (attempt_id);


--
-- Name: exam exam_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam
    ADD CONSTRAINT exam_pkey PRIMARY KEY (exam_id);


--
-- Name: exam_question exam_question_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_question
    ADD CONSTRAINT exam_question_pkey PRIMARY KEY (exam_id, question_id);


--
-- Name: lawartcat lawartcat_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lawartcat
    ADD CONSTRAINT lawartcat_pkey PRIMARY KEY (id);


--
-- Name: lawarticle lawarticle_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lawarticle
    ADD CONSTRAINT lawarticle_pkey PRIMARY KEY (id);


--
-- Name: lawcat lawcat_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lawcat
    ADD CONSTRAINT lawcat_pkey PRIMARY KEY (id);


--
-- Name: leaderboard leaderboard_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.leaderboard
    ADD CONSTRAINT leaderboard_pkey PRIMARY KEY (leaderboard_id);


--
-- Name: lesson_category lesson_category_category_name_key; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_category
    ADD CONSTRAINT lesson_category_category_name_key UNIQUE (category_name);


--
-- Name: lesson_category lesson_category_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_category
    ADD CONSTRAINT lesson_category_pkey PRIMARY KEY (category_id);


--
-- Name: lesson_category_rel lesson_category_rel_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_category_rel
    ADD CONSTRAINT lesson_category_rel_pkey PRIMARY KEY (lesson_id, category_id);


--
-- Name: lesson lesson_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson
    ADD CONSTRAINT lesson_pkey PRIMARY KEY (lesson_id);


--
-- Name: lesson_result lesson_result_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_result
    ADD CONSTRAINT lesson_result_pkey PRIMARY KEY (lesson_result_id);


--
-- Name: progress progress_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.progress
    ADD CONSTRAINT progress_pkey PRIMARY KEY (progress_id);


--
-- Name: question question_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_pkey PRIMARY KEY (question_id);


--
-- Name: reward reward_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.reward
    ADD CONSTRAINT reward_pkey PRIMARY KEY (reward_id);


--
-- Name: reward_redemption reward_redemption_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.reward_redemption
    ADD CONSTRAINT reward_redemption_pkey PRIMARY KEY (redemption_id);


--
-- Name: user_answer user_answer_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.user_answer
    ADD CONSTRAINT user_answer_pkey PRIMARY KEY (user_answer_id);


--
-- Name: idxansweroptionquestion; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxansweroptionquestion ON public.answer_option USING btree (question_id);


--
-- Name: idxexamquestionexam; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxexamquestionexam ON public.exam_question USING btree (exam_id);


--
-- Name: idxexamquestionquestion; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxexamquestionquestion ON public.exam_question USING btree (question_id);


--
-- Name: idxlessoncatrelcategory; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxlessoncatrelcategory ON public.lesson_category_rel USING btree (category_id);


--
-- Name: idxlessoncatrellesson; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxlessoncatrellesson ON public.lesson_category_rel USING btree (lesson_id);


--
-- Name: idxlessonresultlesson; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxlessonresultlesson ON public.lesson_result USING btree (lesson_id);


--
-- Name: idxlessonresultuser; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxlessonresultuser ON public.lesson_result USING btree (user_id);


--
-- Name: idxprogresslesson; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxprogresslesson ON public.progress USING btree (lesson_id);


--
-- Name: idxprogressuser; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxprogressuser ON public.progress USING btree (user_id);


--
-- Name: idxredemptionreward; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxredemptionreward ON public.reward_redemption USING btree (reward_id);


--
-- Name: idxredemptionuser; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxredemptionuser ON public.reward_redemption USING btree (user_id);


--
-- Name: answer_option answer_option_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.answer_option
    ADD CONSTRAINT answer_option_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id);


--
-- Name: exam_attempt exam_attempt_exam_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_attempt
    ADD CONSTRAINT exam_attempt_exam_id_fkey FOREIGN KEY (exam_id) REFERENCES public.exam(exam_id);


--
-- Name: exam_attempt exam_attempt_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_attempt
    ADD CONSTRAINT exam_attempt_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."USER"(user_id);


--
-- Name: exam_question exam_question_exam_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_question
    ADD CONSTRAINT exam_question_exam_id_fkey FOREIGN KEY (exam_id) REFERENCES public.exam(exam_id);


--
-- Name: exam_question exam_question_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_question
    ADD CONSTRAINT exam_question_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id);


--
-- Name: lawartcat lawartcat_artid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lawartcat
    ADD CONSTRAINT lawartcat_artid_fkey FOREIGN KEY (artid) REFERENCES public.lawarticle(id) ON DELETE CASCADE;


--
-- Name: lawartcat lawartcat_catid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lawartcat
    ADD CONSTRAINT lawartcat_catid_fkey FOREIGN KEY (catid) REFERENCES public.lawcat(id) ON DELETE CASCADE;


--
-- Name: leaderboard leaderboard_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.leaderboard
    ADD CONSTRAINT leaderboard_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."USER"(user_id);


--
-- Name: lesson_category_rel lesson_category_rel_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_category_rel
    ADD CONSTRAINT lesson_category_rel_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.lesson_category(category_id);


--
-- Name: lesson_category_rel lesson_category_rel_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_category_rel
    ADD CONSTRAINT lesson_category_rel_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lesson(lesson_id);


--
-- Name: lesson_result lesson_result_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_result
    ADD CONSTRAINT lesson_result_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lesson(lesson_id);


--
-- Name: lesson_result lesson_result_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.lesson_result
    ADD CONSTRAINT lesson_result_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."USER"(user_id);


--
-- Name: progress progress_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.progress
    ADD CONSTRAINT progress_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lesson(lesson_id);


--
-- Name: progress progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.progress
    ADD CONSTRAINT progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."USER"(user_id);


--
-- Name: reward_redemption reward_redemption_reward_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.reward_redemption
    ADD CONSTRAINT reward_redemption_reward_id_fkey FOREIGN KEY (reward_id) REFERENCES public.reward(reward_id);


--
-- Name: reward_redemption reward_redemption_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.reward_redemption
    ADD CONSTRAINT reward_redemption_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."USER"(user_id);


--
-- Name: user_answer user_answer_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.user_answer
    ADD CONSTRAINT user_answer_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.exam_attempt(attempt_id);


--
-- Name: user_answer user_answer_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.user_answer
    ADD CONSTRAINT user_answer_option_id_fkey FOREIGN KEY (option_id) REFERENCES public.answer_option(option_id);


--
-- Name: user_answer user_answer_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.user_answer
    ADD CONSTRAINT user_answer_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id);


--
-- PostgreSQL database dump complete
--

