--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answer_option; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.answer_option (
    option_id integer NOT NULL,
    question_id integer NOT NULL,
    option_text text,
    is_correct boolean
);


ALTER TABLE public.answer_option OWNER TO eduvial_user;

--
-- Name: answer_option_option_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.answer_option_option_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.answer_option_option_id_seq OWNER TO eduvial_user;

--
-- Name: answer_option_option_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.answer_option_option_id_seq OWNED BY public.answer_option.option_id;


--
-- Name: exam; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.exam (
    exam_id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    difficulty_level character varying(50) NOT NULL,
    points_awarded integer DEFAULT 0 NOT NULL,
    CONSTRAINT exam_difficulty_level_check CHECK (((difficulty_level)::text = ANY ((ARRAY['simple'::character varying, 'advanced'::character varying])::text[])))
);


ALTER TABLE public.exam OWNER TO eduvial_user;

--
-- Name: exam_attempt; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.exam_attempt (
    attempt_id integer NOT NULL,
    user_id integer NOT NULL,
    exam_id integer NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    score integer DEFAULT 0,
    status character varying(50) NOT NULL,
    CONSTRAINT exam_attempt_status_check CHECK (((status)::text = ANY ((ARRAY['in_progress'::character varying, 'completed'::character varying, 'abandoned'::character varying])::text[])))
);


ALTER TABLE public.exam_attempt OWNER TO eduvial_user;

--
-- Name: exam_attempt_attempt_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.exam_attempt_attempt_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exam_attempt_attempt_id_seq OWNER TO eduvial_user;

--
-- Name: exam_attempt_attempt_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.exam_attempt_attempt_id_seq OWNED BY public.exam_attempt.attempt_id;


--
-- Name: exam_exam_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.exam_exam_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exam_exam_id_seq OWNER TO eduvial_user;

--
-- Name: exam_exam_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.exam_exam_id_seq OWNED BY public.exam.exam_id;


--
-- Name: exam_question; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.exam_question (
    exam_id integer NOT NULL,
    question_id integer NOT NULL
);


ALTER TABLE public.exam_question OWNER TO eduvial_user;

--
-- Name: question; Type: TABLE; Schema: public; Owner: eduvial_user
--

CREATE TABLE public.question (
    question_id integer NOT NULL,
    question_text text,
    question_type public.question_type_enum,
    category public.question_category_enum
);


ALTER TABLE public.question OWNER TO eduvial_user;

--
-- Name: question_question_id_seq; Type: SEQUENCE; Schema: public; Owner: eduvial_user
--

CREATE SEQUENCE public.question_question_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.question_question_id_seq OWNER TO eduvial_user;

--
-- Name: question_question_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eduvial_user
--

ALTER SEQUENCE public.question_question_id_seq OWNED BY public.question.question_id;


--
-- Name: answer_option option_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.answer_option ALTER COLUMN option_id SET DEFAULT nextval('public.answer_option_option_id_seq'::regclass);


--
-- Name: exam exam_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam ALTER COLUMN exam_id SET DEFAULT nextval('public.exam_exam_id_seq'::regclass);


--
-- Name: exam_attempt attempt_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_attempt ALTER COLUMN attempt_id SET DEFAULT nextval('public.exam_attempt_attempt_id_seq'::regclass);


--
-- Name: question question_id; Type: DEFAULT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.question ALTER COLUMN question_id SET DEFAULT nextval('public.question_question_id_seq'::regclass);


--
-- Data for Name: answer_option; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.answer_option (option_id, question_id, option_text, is_correct) FROM stdin;
\.


--
-- Data for Name: exam; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.exam (exam_id, title, description, difficulty_level, points_awarded) FROM stdin;
1	Examen B├ísico de Seguridad Vial	Eval├║a conocimientos b├ísicos de tr├ínsito	simple	20
2	Examen Avanzado de Normas	Examen sobre normativas avanzadas de conducci├│n	advanced	30
\.


--
-- Data for Name: exam_attempt; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.exam_attempt (attempt_id, user_id, exam_id, started_at, completed_at, score, status) FROM stdin;
1	1	1	2025-03-15 14:00:00	2025-03-15 14:10:00	90	completed
2	2	1	2025-08-05 18:58:02.730974	\N	0	in_progress
3	3	2	2025-03-16 16:00:00	2025-03-16 16:10:00	85	completed
\.


--
-- Data for Name: exam_question; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--

COPY public.exam_question (exam_id, question_id) FROM stdin;
\.


--
-- Data for Name: question; Type: TABLE DATA; Schema: public; Owner: eduvial_user
--



--
-- Name: answer_option_option_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.answer_option_option_id_seq', 1, false);


--
-- Name: exam_attempt_attempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.exam_attempt_attempt_id_seq', 3, true);


--
-- Name: exam_exam_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.exam_exam_id_seq', 1, false);


--
-- Name: question_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eduvial_user
--

SELECT pg_catalog.setval('public.question_question_id_seq', 1, false);


--
-- Name: answer_option answer_option_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.answer_option
    ADD CONSTRAINT answer_option_pkey PRIMARY KEY (option_id);


--
-- Name: exam_attempt exam_attempt_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_attempt
    ADD CONSTRAINT exam_attempt_pkey PRIMARY KEY (attempt_id);


--
-- Name: exam exam_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam
    ADD CONSTRAINT exam_pkey PRIMARY KEY (exam_id);


--
-- Name: exam_question exam_question_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_question
    ADD CONSTRAINT exam_question_pkey PRIMARY KEY (exam_id, question_id);


--
-- Name: question question_pkey; Type: CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_pkey PRIMARY KEY (question_id);


--
-- Name: idxansweroptionquestion; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxansweroptionquestion ON public.answer_option USING btree (question_id);


--
-- Name: idxexamquestionexam; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxexamquestionexam ON public.exam_question USING btree (exam_id);


--
-- Name: idxexamquestionquestion; Type: INDEX; Schema: public; Owner: eduvial_user
--

CREATE INDEX idxexamquestionquestion ON public.exam_question USING btree (question_id);


--
-- Name: answer_option answer_option_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.answer_option
    ADD CONSTRAINT answer_option_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id);


--
-- Name: exam_attempt exam_attempt_exam_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_attempt
    ADD CONSTRAINT exam_attempt_exam_id_fkey FOREIGN KEY (exam_id) REFERENCES public.exam(exam_id);


--
-- Name: exam_attempt exam_attempt_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_attempt
    ADD CONSTRAINT exam_attempt_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."USER"(user_id);


--
-- Name: exam_question exam_question_exam_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_question
    ADD CONSTRAINT exam_question_exam_id_fkey FOREIGN KEY (exam_id) REFERENCES public.exam(exam_id);


--
-- Name: exam_question exam_question_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eduvial_user
--

ALTER TABLE ONLY public.exam_question
    ADD CONSTRAINT exam_question_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id);


--
-- PostgreSQL database dump complete
--

